* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe100;
  height: 4.5rem;
  padding: 0 4.8rem;
  position: relative;
}

.header .header-icon {
  max-width: 800px;
}

.header .header-icon img {
  width: 155px;
  height: 45px;
}

.header .main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 3.6rem;
}

.header .main-nav-btn {
  height: 4.5rem;
}

.header .main-nav-btn:hover {
  background-color: #8a7c29;
}

.header .main-nav-font {
  font-family: "DFPYuanBold-B5";
  font-size: 2rem;
  padding-top: 1.2rem;
}

.header .main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.header .main-nav-link:hover {
  color: #ffffff;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 944px) {
  .btn-mobile-nav {
    display: block;
  }
  header .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  header .main-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .main-nav-link {
    font-size: 3rem !important;
  }
  header.nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header.nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  header.nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
/**************************/
/* BELOW 544px (Phones) */
/**************************/
/*# sourceMappingURL=style.css.map */